<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/peds</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">r00t</property>
    <property name="hibernate.current_session_context_class">managed</property>
    <mapping resource="model/UserRoles.hbm.xml"/>
    <mapping resource="model/Users.hbm.xml"/>
    <mapping resource="model/Consultations.hbm.xml"/>
    <mapping resource="model/Parents.hbm.xml"/>
    <mapping resource="model/Specialties.hbm.xml"/>
    <mapping resource="model/Pediatricians.hbm.xml"/>
    <mapping resource="model/Kids.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
